<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="creditos">

        <div class="tituloCredito">
            <h1>Hecho Por:</h1>
            <h3>Simon Suken y Alex Droblas</h3>
        </div>

        <a href='@Url.Action("index")'><button type="button">Volver al menu</button></a> 
</body>
</html>