<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="index">
    
    <div class="tituloIndex">
        <h1>ESCAPE FROM ALCATRAZ</h1>
        <h2>La libertad es la unica salida</h2>
    </div>

    <div class="indexPrimero">
        <p>Preparate para embarcarte en una mision de escape de la prision conocida como la roca, donde la muerte y la libertad son tus unica</p>
        
        <a href='@Url.Action("Comenzar")'><button type="button">Escapar</button></a>
        <a href='@Url.Action("tutorial")'><button type="button">Tutorial</button></a>
        <a href='@Url.Action("creditos")'><button type="button">Creditos</button></a>
    </div>

</body>
</html>