<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="sala2">
    <div class="tituloSala2">
        <h1>La Oficina</h1>
    </div>

    <div class="imagenCrucigrama">
        <img src="../img/crucigrama.png">
    </div>

    <a href="https://es.planetcalc.com/1434/">
        <div class="imagenCesar">
            <img src="../img/cesar.png">
        </div>
    </a>

<form action='@Url.Action("Habitacion")'>
    <div class="ingresarOpcionFinal">
        <input type="text" name="clave">  <input type="hidden" name="sala" value="2"> 
<br>
        <input type="submit" value="Intentar">
    </div>
    </form>
    <p class="tituloSala2">Al salir de la celda corres hasta llegar a la oficina del alcaide, alli ves un crucigrama en la pizarra, un crucigrama hecho para todos los presos.
        Al lado de la pizarra observas bien como hay una caja de vidrio blindado que contiene la llave que tanto buscas, y en ella una contraseña alfabetica.
        Dentro del sobre proporcionado ves una imagen que contiene la estatua del gran Julius Cesar y lo iguala al numero 2</p>
</body>
</html>