<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tutorial</title>
</head>
<body class="tutorial">
    <div class="contenido-central-tutorial">
        <div class="hoja-blanca-tutorial">
            <h1>EDD RICH</h1>
            <h2>7 MESES CAUTIVO</h2>
            <h3>EL SUJETO NO MUESTRA RECHAZO A LA VIDA CARCELARIA, SIN EMBARGO AUN NIEGA HABER COMETIDO EL CRIMEN</h3>
            <p>"Querido Edd</p> 
            <div class="infoMensaje">
            <p>sabemos bien desde el anonimato que tu no cometiste ningun crimen, sin embargo no es algo que 
            parezca importarle a las autoridades.</p>
            <p>Te adjuntamos entonces una serie de pistas e instrucciones dentro de este sobre, esperamos que las 
            recibas y hagas de ellas buen uso</p>
            </div>
            <div class="quienLoEnvia">
                <p>-LOS ULTIMIS"</p>
            </div>
            

            <div class="botonTuto">
                <a href='@Url.Action("index")'><button type="button">Volver al menu</button></a> 
            </div>
            
        </div>
    </div>
</body>
</html>